<div class="card">
  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
    <img
      src="https://mdbootstrap.com/img/new/standard/nature/111.jpg"
      class="img-fluid"
    />
    <a href="#!">
      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
    </a>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{hotel.name}}</h5>
    <p class="card-text">
      {{hotel.address}}
    </p>
    <a class="btn btn-primary">Price: ${{hotel.price}}</a>
  </div>
</div>